
@{
    ViewBag.Title = "New_Tmam";
    Layout = "_Layout.cshtml";
}

<link href="~/Content/New_Design/MainBodyStyle.css" rel="stylesheet" />
<div class="container">
    @RenderBody();
</div>


@RenderSection("Scripts", required: false)






