body {
    font-family: 'Cairo', sans-serif !important;
}
.text p {
    text-align: center;
    color: var(--text);
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0;
}

:root {
    --main: #6a33ff;
    --header: #6a33ff;
    --background: #f4f6f7;
    --text: rgba(255,255,255,90%);
    --button: #6a33ff;
    --alarm: #f3d007;
}

.navbar-brand {
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
}

table {
    background: rgb(193,193,193);
    background: linear-gradient(90deg, rgba(193,193,193,1) 0%, rgba(199,199,199,1) 48%, rgba(172,172,172,1) 79%);
    border-radius: 10px;
}


@media (max-width: 922px) {
    .links ul {
        display: none;
    }

    .links i {
        display: block;
        font-size: 30px;
        color: var(--text);
        margin-right: 1.5rem;
    }

    header .logo {
    }
}

@media (max-width: 1200px ) {
    img {
        display: none;
    }

    .logo {
        text-align: center;
    }
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.container .title-div {
    text-align: center;
    background-color: var(--button);
    border-radius: 20px;
    padding: 10px;
    margin: 15px;
    font-size: 12px;
    color: var(--text);
}

header .email-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.email-info ul li {
    padding-right: 2rem;
    font-size: 20px;
    color: var(--text);
    font-weight: bold;
    padding: 1.1rem;
    transition: .3s;
}
    /*.email-info ul .li:hover {
    background-color: var(--main);
    border-radius: 6rem;
}*/
    .email-info ul li a {
        color: var(--text);
        text-decoration: none;
    }

        .email-info ul li a:hover {
            color: #efc406;
        }

#importBtn, #exportBtn, #createBtn {
    font-size: 20px;
}
/*table, tbody, tr, td, th, thead {
    font-size: 14px;
    text-align: right;
}*/
.sub-sub-link {
    position: absolute !important;
    right: 85% !important;
    top: -25% !important;
}

#EmailsDiv {
    font-family: 'Times New Roman';
    font-size: 16px;
    max-height: 62vh;
}

.star {
    font-size: 3rem;
    cursor: pointer;
    color: #ff9800;
    background-color: unset;
    border: none;
    padding: 0px;
}

.email-unread {
    font-weight: bold;
}

.star:hover {
    cursor: pointer;
}

.email-item, .header-item {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
    border-radius: 5px;
}

    .email-item:hover {
        background-color: #DBDBDB;
    }

.header-item {
    font-size: 20px;
    background-color: var(--header);
    color: #ffffff;
}


.delete-btn {
    width: 75px !important;
    height: 25px;
    border-radius: 15px;
    border: 0px;
    background-color: red;
    color: var(--text);
}




.sidebar {
    right: 0;
}
li a {
    font-size: 1.3rem;
}
.logo-header p {
    font-size: 1.6rem;
    line-height: 1.82;
    margin-bottom: 1rem;
    word-break: break-word;
    font-weight: bold;
    color: var(--text);
}
.main-panel {
    position: relative;
    height: fit-content;
    background: rgb(193,193,193);
    background: linear-gradient(90deg, rgba(193,193,193,1) 0%, rgba(199,199,199,1) 48%, rgba(172,172,172,1) 79%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 1rem;
}
footer {
    position: absolute;
    bottom: -50px;
    width: 100%;
}

footer p {
    margin-top: 5rem;
    padding: 10px;
    font-size: 20px;
    color: var(--text);
    text-align: center;
    background-color: var(--button);
    margin: 0;
}

