body {
    background-color: #fff5a7;
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
#importBtn, #exportBtn, #createBtn {
    font-size: 20px;
}
table, tbody, tr, td, th, thead {
    font-size: 14px;
    text-align: right;
}

#EmailsDiv {
    font-family: 'Times New Roman';
    font-size: 16px;
    max-height: 62vh;
}

.star {
    font-size: 3rem;
    cursor: pointer;
    color: #ff9800;
    background-color: unset;
    border: none;
    padding: 0px;
}
.email-unread {
    font-weight: bold;
}
.star:hover {
    cursor: pointer;
}

.email-item, .header-item {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
    border-radius: 5px;
}

    .email-item:hover {
        background-color: #DBDBDB;
    }

.header-item {
    font-size: 20px;
    background-color: #808080;
    color: #ffffff
}

.body-content {
    padding: 0px;
}


.delete-btn {
    width: 75px;
    height: 25px;
    border-radius: 15px;
    border: 0px;
    background-color: red;
    color: white;
}