.title-page {
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    background-color: var(--main);
    border-radius: 10px;
    color: var(--text);
}

.title-div p {
    font-size: 2rem;
}


@media (max-width: 992px ) {
    img {
        display: none;
    }

    .text {
        text-align: center;
    }
}


.name-div {
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
    font-size: 20px;
}

nav .links {
    list-style: none;
    background-color: var(--header);
    border-radius: 30px;
}
nav .links li {
    padding: 15px;
    transition: .4s;
    border-radius: 10PX;

}
.links li:hover > a{
    cursor: pointer;
    color: var(--alarm);
    
    
}
    nav .links li a {
        color: white ;
        text-decoration: none;
        font-size: 20px;
    }