:root {
    --main: var(--button);
}

body {
    font-family: 'Cairo', sans-serif !important;
}
h1, h2, h3 {
    margin: 15px;
    color: rgba(0,0,0);
}

#ifNoUnits {
    text-align: center;
    color: dimgray;
}

.control-label {
    color: black;
    margin-right: 15px;
}

.step {
    display: none;
}

    .step.active {
        display: block;
    }

button.next-btn {
    float: right;
    margin-right: 15px;
    padding: 10px 30px;
    border: none;
    outline: none;
    background-color: rgb(180,220,255);
}


button.previous-btn {
    float: left;
    padding: 10px 30px;
    border: none;
    outline: none;
    background-color: rgb(180,220,255);
}
.modal-content {
    background: rgb(166,166,191);
    background: linear-gradient(90deg, rgba(166,166,191,1) 0%, rgba(180,172,224,1) 37%, rgba(130,143,200,1) 100%);
}


.form {
    margin: auto;
}

.required {
    font-size: 15px;
    color: red;
}


th, td {
    text-align: right;
}


span.popup-close:hover {
    cursor: pointer;

}

/* استجابة خاصة للشاشات الصغيرة مثل الهواتف */
@media (max-width: 600px) {
    .popup {
        padding: 15px; /* تقليل المسافات الداخلية */
        font-size: 12px; /* تصغير حجم الخط */
    }
}

/* استجابة خاصة للشاشات المتوسطة */
@media (min-width: 601px) and (max-width: 1024px) {
    .popup {
        width: 80%; /* زيادة العرض بالنسبة للشاشات المتوسطة */
        font-size: 13px; /* تكبير بسيط لحجم النص */
    }
}

.form-group input, .form-group select {
    border: 1px solid #e5e5e5 !important;
}
.form-control {
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #DDD;
    width: 100%;
}

.popup .form h3 {
    text-align: center;
    color: #222;
}

.disable-pg {
    pointer-events: none;
    opacity: 0.6;
}
.table-review{
    background-color: transparent;
}
.con-label {
    font-size: 25px;
    color: #646464;
    padding-right: 15px;
}
.con-div {
    padding-right: 20px;
}
second-header {
    background-color: var(--button);
    color: var(--text);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
}
.form-control:focus {
    border:none;
    box-shadow:none;
    outline: none;
}
 button{
    background-color: var(--button);
    color: var(--text);
    border: none;
    border-radius: 10px;
    padding: 10px 100px;
    margin: 5px;
    cursor: pointer;
    position: relative;
    z-index:2;
}
.export-btn {
    background-color: var(--button);
    color: var(--text);
    border: none;
    border-radius: 10px;
    padding: 10px 100px;
    margin: 5px;
    cursor: pointer;
}
.pg-2 {
    background-color: var(--button);
    color: var(--text);
    border: none;
    border-radius: 10px;
    padding: .5rem .5rem;
    margin: .1rem;
    cursor: pointer;
    right: 0;

}
button:hover {
    color: var(--alarm);
}

 .table table {
     width: 100%;
     padding: 30px;

 }
.table > :not(caption) > * > * {
    background-color: transparent;
}
.header-tr th {
    background-color: var(--button);
    color: var(--text);
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
table-striped tbody tr td {
    text-align: center !important;
    font-weight: bold;
    font-size: .8rem !important;
}
.table > tbody > tr > td, .table > tbody > tr > th {
    padding: .8rem .2rem !important;
}